:root{
  --primary-color: #6D635F;
  --red: #CA005D;
  --red-75: rgb(202, 0, 93, 0.75);
  --blue: #2563EB;
  --blue-70: rgb(37, 99, 235, 0.7);
  --gold: #EFB31F;
  --red-50: rgb(202, 0, 93, 0.5);
  --title-color: #000;
  --text-color: #333;
  --text-color-50: rgb(51, 51, 51, 0.5);
  --white: #fff;
  --white-60: rgb(255, 255, 255, 0.6);
  --light-bg: #f9f9f9;
  --card-bg: rgba(217, 217, 217, 0.3);
  --transition: all 0.3s ease;
  --gradient: linear-gradient(135deg, #EFB31F 0%, #6D635F 100%);
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
img{
  display: flex;
  max-width: 100%;
  height: auto;
}
h1,h2,h3,h4,p{
  margin: 0;
}
*:focus{
  outline: 3px dotted var(--red);
  outline-offset: 3px;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Poppins, Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: var(--light-bg);
  color: var(--text-color);
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  border: 3px solid red;
}
/*==={@} BUTTON {@}==*/
button{
  border: none;
  padding: 0;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.btn{
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 0.5rem;
}
.btn-cta{
  color: var(--primary-color);
  border: 2px solid transparent;
  background-color: var(--white);
}
.btn-cta:hover{
  color: var(--white);
  background-color: var(--red);
}
.btn-red{
  background-color: var(--red);
  color: var(--white);
  transition: var(--transition);
}
.btn-submit:hover{
  background-color: var(--red-75);
}
.btn-submit:active{
  background-color: var(--red-50);
}

/* HEADER - HERO SECTION*/
.header-hero-wrapper {
  background-image: url(../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo{
  padding-top: 0.5rem;
  margin-left: 3rem;
}
.logo{
  display: flex;
  align-items: center;
}
.logo_icon{
  color: var(--white);
  width:  2.5rem;
  margin-right: 0.5rem;
  transition: var(--transition);
}
.logo:hover .logo_icon{
  color: var(--red);
}
.logo span {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-text-stroke: 1px var(--text-color);
  transition: var(--transition);
}
.logo:hover span{
  -webkit-text-stroke-color: transparent;
}
.logo:active{
  opacity: 0.7;
}
.sitenav__list {
  display: flex;
  align-items: center;
}
.sitenav__item {
  cursor: pointer;
  padding: 0.8rem;
  background-color: rgb(0, 0, 0, 0.3);
  position: relative;
  transition: var(--transition);
}
.sitenav__item:hover{
  background-color: rgb(0, 0, 0, 0.8);
}
.sitenav__link {
  text-transform: uppercase;
  color: var(--white);
}
.sitenav__link::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
/* HERO */
.hero {
  padding: 6rem 1.5rem 15rem 1.5rem;
}
.hero-title-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.hero-title {
  -webkit-text-stroke: 1px var(--title-color);
  font-size: 2.5rem;
  color: #e8e8e8;
  animation: fadeInUp 1s ease;
}
.hero-description {
  font-size: 1.2rem;
  color: rgb(232, 232, 232);
  animation: fadeInUp 1s ease 0.2s both;
}
.search-form-section {
  animation: fadeInUp 1s ease 0.4s both;
}
.search-form-wrapper {
  padding: 2.5rem 2rem;
  background-color: rgb(0, 0, 0, 0.35);
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.form-group {
  width: 10rem;
}
.form-group input,select,button{
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
}
.location-group {
  width: 20rem;
  position: relative;
}
.location-group input::placeholder{
  color: var(--blue-70);
}
.location-group i {
  font-size: 1rem;
  top: calc(50% - 0.5rem);
  left: 0.8rem;
  position: absolute;
  color: var(--blue-70);
}
.location-group input {
  padding-left: 2rem;
}
.check-in-group {
  position: relative;
}
.check-out-group {
  position: relative;
}
.date-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #6b7280;
  pointer-events: none;
}

/* Flatpickr Styles */
.flatpickr-day.in-range {
  background-color: var(--blue-70) !important;
  border-color: transparent !important;
  color: var(--white) !important;
  position: relative;
  border-radius: 50%!important;
}

.flatpickr-day.in-range:hover {
  background: var(--blue) !important;
}

/* Start date */
.flatpickr-day.start-date {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
  color: white !important;
  font-weight: 600;
}

/* End date */
.flatpickr-day.end-date {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
  color: white !important;
  font-weight: 600;
}
.flatpickr-day.start-date:hover,
.flatpickr-day.end-date:hover {
  transform: scale(1.05);
  transition: var(--transition);
}
.guests-group {
  position: relative;
}
.guests-group select {
  cursor: pointer;
  padding-left: 2.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.guest-icon{
  font-size: 1rem;
  color: var(--blue-70);
  position: absolute;
  left: 1rem;
  top: calc(50% - 0.5rem);
}
.select-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
/* BANNER NAVIGATION */
.banner-navigation {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
}
.sitenav__item {
  display: flex;
  justify-content: center;
}
.banner-navigation .sitenav__item {
  width: 100%;
  background-color: var(--primary-color);
  border-left: 1px solid var(--title-color);
}
.banner-navigation .sitenav__item:nth-child(4) {
  border-right: 1px solid var(--title-color);
}
.banner-navigation .sitenav__item:hover{
  background-color: rgba(0, 0, 0, 0.5)
}
.banner-navigation .sitenav__item:last-child{
  padding: 0.3rem;
  border: none;
  border-radius: 5px;
  max-width: 10rem;
  background-color: var(--red);
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
}
.banner-navigation .sitenav__item:last-child:hover{
  background-color: var(--red-50);
}
.banner-navigation .sitenav__link {
  font-size: 12px;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.fixed .sitenav__item:last-child{
  opacity: 1;
  pointer-events: all;
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}