:root{
  --primary-color: #6D635F;
  --red: #CA005D;
  --red-75: rgb(202, 0, 93, 0.75);
  --blue: #2563EB;
  --blue-70: rgb(37, 99, 235, 0.7);
  --gold: #EFB31F;
  --red-50: rgb(202, 0, 93, 0.5);
  --title-color: #000;
  --text-color: #333;
  --text-color-50: rgb(51, 51, 51, 0.5);
  --white: #fff;
  --white-60: rgb(255, 255, 255, 0.6);
  --light-bg: #f9f9f9;
  --card-bg: rgba(217, 217, 217, 0.3);
  --transition: all 0.3s ease;
  --gradient: linear-gradient(135deg, #EFB31F 0%, #6D635F 100%);
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
img{
  display: flex;
  max-width: 100%;
  height: auto;
}
h1,h2,h3,h4,p{
  margin: 0;
}
*:focus{
  outline: 3px dotted var(--red);
  outline-offset: 3px;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Poppins, Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: var(--light-bg);
  color: var(--text-color);
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  border: 3px solid red;
}
/*==={@} BUTTON {@}==*/
button{
  border: none;
  padding: 0;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.btn{
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 0.5rem;
}
.btn-cta{
  color: var(--primary-color);
  border: 2px solid transparent;
  background-color: var(--white);
}
.btn-cta:hover{
  color: var(--white);
  background-color: var(--red);
}
.btn-red{
  background-color: var(--red);
  color: var(--white);
  transition: var(--transition);
}
.btn-submit:hover{
  background-color: var(--red-75);
}
.btn-submit:active{
  background-color: var(--red-50);
}

/* HEADER - HERO SECTION*/
.header-hero-wrapper {
  background-image: url(../img/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo{
  padding-top: 0.5rem;
  margin-left: 3rem;
}
.logo{
  display: flex;
  align-items: center;
}
.logo_icon{
  color: var(--white);
  width:  2.5rem;
  margin-right: 0.5rem;
  transition: var(--transition);
}
.logo:hover .logo_icon{
  color: var(--red);
}
.logo span {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-text-stroke: 1px var(--text-color);
  transition: var(--transition);
}
.logo:hover span{
  -webkit-text-stroke-color: transparent;
}
.logo:active{
  opacity: 0.7;
}
.sitenav__list {
  display: flex;
  align-items: center;
}
.sitenav__item {
  cursor: pointer;
  padding: 0.8rem;
  background-color: rgb(0, 0, 0, 0.3);
  position: relative;
  transition: var(--transition);
}
.sitenav__item:hover{
  background-color: rgb(0, 0, 0, 0.8);
}
.sitenav__link {
  text-transform: uppercase;
  color: var(--white);
}
.sitenav__link::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
/* HERO */
.hero {
  padding: 6rem 1.5rem 15rem 1.5rem;
}
.hero-title-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.hero-title {
  -webkit-text-stroke: 1px var(--title-color);
  font-size: 2.5rem;
  color: #e8e8e8;
  animation: fadeInUp 1s ease;
}
.hero-description {
  font-size: 1.2rem;
  color: rgb(232, 232, 232);
  animation: fadeInUp 1s ease 0.2s both;
}
.search-form-section {
  animation: fadeInUp 1s ease 0.4s both;
}
.search-form-wrapper {
  padding: 2.5rem 2rem;
  background-color: rgb(0, 0, 0, 0.35);
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
.form-group {
  width: 10rem;
}
.form-group input,select,button{
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
}
.location-group {
  width: 20rem;
  position: relative;
}
.location-group input::placeholder{
  color: var(--blue-70);
}
.location-group i {
  font-size: 1rem;
  top: calc(50% - 0.5rem);
  left: 0.8rem;
  position: absolute;
  color: var(--blue-70);
}
.location-group input {
  padding-left: 2rem;
}
.check-in-group {
  position: relative;
}
.check-out-group {
  position: relative;
}
.date-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #6b7280;
  pointer-events: none;
}

/* Flatpickr Styles */
.flatpickr-day.in-range {
  background-color: var(--blue-70) !important;
  border-color: transparent !important;
  color: var(--white) !important;
  position: relative;
  border-radius: 50%!important;
}

.flatpickr-day.in-range:hover {
  background: var(--blue) !important;
}

/* Start date */
.flatpickr-day.start-date {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
  color: white !important;
  font-weight: 600;
}

/* End date */
.flatpickr-day.end-date {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
  color: white !important;
  font-weight: 600;
}
.flatpickr-day.start-date:hover,
.flatpickr-day.end-date:hover {
  transform: scale(1.05);
  transition: var(--transition);
}
.guests-group {
  position: relative;
}
.guests-group select {
  cursor: pointer;
  padding-left: 2.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.guest-icon{
  font-size: 1rem;
  color: var(--blue-70);
  position: absolute;
  left: 1rem;
  top: calc(50% - 0.5rem);
}
.select-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
/* BANNER NAVIGATION */
.banner-navigation {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
}
.sitenav__item {
  display: flex;
  justify-content: center;
}
.banner-navigation .sitenav__item {
  width: 100%;
  background-color: var(--primary-color);
  border-left: 1px solid var(--title-color);
}
.banner-navigation .sitenav__item:nth-child(4) {
  border-right: 1px solid var(--title-color);
}
.banner-navigation .sitenav__item:hover{
  background-color: rgba(0, 0, 0, 0.5)
}
.banner-navigation .sitenav__item:last-child{
  padding: 0.3rem;
  border: none;
  border-radius: 5px;
  max-width: 10rem;
  background-color: var(--red);
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
}
.banner-navigation .sitenav__item:last-child:hover{
  background-color: var(--red-50);
}
.banner-navigation .sitenav__link {
  font-size: 12px;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.fixed .sitenav__item:last-child{
  opacity: 1;
  pointer-events: all;
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}
/* SECTIONS */
.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 1rem;
}
.section-info {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
.section-content-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.section-content-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
/* How it works */
.how-it-works_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.5rem;
  padding:  1.2rem 0.6rem;
  gap: 1.2rem;
  border-radius: 10px;
  transition: var(--transition);
  position: relative;
}
.how-it-works_card:hover{
  background-color: var(--white);
  box-shadow: var(--shadow);
}
.how-it-works_card-icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--gradient);
  border-radius: 50%;
}
.how-it-works_card-info {
  text-align: center;
}


/* // FEATURED STAYS \\ */

.featured-stays-card {
  max-width: 350px;
  border-radius: 0.6rem;
  overflow: hidden;
  background-color: var(--white);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
}
.featured-stays-card_img--wrp {
  width: 100%;
  height: 240px;
  overflow: hidden;
  flex-shrink: 0;
}
.featured-stays-card_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}
.featured-stays-card:hover{
  box-shadow: var(--shadow);
}
.featured-stays-card:hover .featured-stays-card_img{
  transform: scale(1.1);
}
.featured-stays-card_info{
  flex: 1;
  padding: 1rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
.featured-stays-card_title {
  max-width: 20rem;
  color: var(--title-color);
  font-weight: 500;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.featured-stays-card_location {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
.featured-stays-card_location i{
  margin-right: 0.5rem;
  color: var(--blue);
}
.featured-stays-card_amenities{
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.featured-stays-card_amenities li {
  color: var(--red);
  padding-left: 1rem;
  position: relative;
}
.featured-stays-card_amenities li:first-child{
  padding: 0;
}
.featured-stays-card_amenities li:not(:first-child)::after {
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  content: "";
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--red);
}
.featured-stays-card_price{
  margin-top: auto;
}
.featured-stays-card_price b {
  color: var(--blue);
  font-size: 2rem;
  margin-right: 0.5rem;
}
.featured-stays-card_price span{
  text-transform: lowercase;
}
/* ==|| WHY CHOOSE SECTION ||== */
.why-choose-card {
  border-left: 5px solid var(--gold);
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 0.6rem;
  transition: var(--transition);
}
.why-choose-card:hover{
  transform: translateX(5px);
}
.why-choose-card_title {
  font-size: 1.25rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.why-choose-card_title i{
  font-size: 2rem;
  margin-right: 0.5rem;
  color: var(--gold);
}
.why-choose-card_info {
  max-width: 18.75rem;
}

/* ##[ EQUIPMENT SECTION ]## */
.equipment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.equipment-grid{
  margin-bottom: 2rem;
}
.equipment-card {
  max-width: 22rem;
  padding: 1.5rem;
  border-radius: 0.6rem;
  transition: var(--transition);
}
.equipment-card:hover{
  box-shadow: var(--shadow);
}
.equipment-card_img {
  width: 300px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}
.equipment-card_title {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 0.3rem;
}
.equipment-card_info {
  text-align: center;
  color: var(--text-color);
}
/* $$++)(= TESTIMONIAL SECTION =)(++$$ */
.testimonial-section{
display: flex;
flex-direction: column;
align-items: center;
}
.testimonials{
  margin-bottom: 1rem;
  align-self: stretch;
}
.testimonial-card {
  padding: 1rem;
}
.testimonial-card_info-wrp {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.testimonial-card_avatar {
  border: 2px solid var(--white);
  border-radius: 50%;
  box-shadow: var(--shadow);
  margin-right: 1.5rem;
}
.testimonial-card_name {
  margin-bottom: 0.5rem;
}
.tetimonial-card_star {
  margin-bottom: 0.5rem;
}
.tetimonial-card_star i{
  color: var(--gold);
}
.testimonial-card_comment {
  font-style: italic;
  max-width: 20rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  margin-bottom: 0.5rem;
}
.expanded{
  -webkit-line-clamp: unset;
}
.read-more{
  outline: none;
  padding: 0;
  background: none;
  text-transform: capitalize;
  color: var(--blue);
  display: flex;
  justify-content: flex-end;
  transition: var(--transition);
}
.read-more:hover{
  color: var(--red);
}
/* CTA SECTION */
.cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  background-image: var(--gradient);
  margin-bottom: 5rem;
  position: relative;
}
.cta-section .section-title {
  color: var(--white)
}
.cta-section .section-info {
  color: rgb(255, 255, 255, 0.8);
}
.cta-btn--wrapper {
  display: flex;
  gap: 1.5rem;
}
/* ANIMATIONS */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
